<div class="row">
    <div class="col-xs-6">
      <form>
        <div class="action-field form-group">
            <label for="{{new-random 'action-field'}}">Action</label>
            <input type="text" id="{{new-random 'action-field'}}"
                   class="not-empty form-control input-form action"
                   value="OTA_AirAvailLLSRQ" />
        </div>
        <div class="authTokenType-field form-group">
          <label for="{{new-random 'authTokenType-field'}}">authTokenType</label>
          <select id="{{new-random 'authTokenType-field'}}"
                  class="not-empty form-control input-form authTokenType">
              <option value="SESSION" selected="selected">SESSION</option>
              <option value="SESSIONLESS">SESSIONLESS</option>
          </select>
        </div>
        <div class="timeout-field form-group">
          <label for="{{new-random 'timeout-field'}}">Timeout</label>
          <input type="number" id="{{new-random 'timeout-field'}}"
                 class="not-empty form-control input-form timeout"
                 value="5000" />
        </div>
        <div class="payload-field form-group">
            <label for="{{new-random 'payload-field'}}">Payload</label>
                                  <!--
  &lt;OTA_AirAvailRQ xmlns=&quot;http://webservices.sabre.com/sabreXML/2011/10&quot; xmlns:xs=&quot;http://www.w3.org/2001/XMLSchema&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; Version=&quot;2.4.0&quot;&gt;
    &lt;OriginDestinationInformation&gt;
      &lt;FlightSegment DepartureDateTime=&quot;01-06&quot;&gt;
        &lt;DestinationLocation LocationCode=&quot;CMH&quot; /&gt;
        &lt;OriginLocation LocationCode=&quot;DFW&quot; /&gt;
      &lt;/FlightSegment&gt;
    &lt;/OriginDestinationInformation&gt;
  &lt;/OTA_AirAvailRQ&gt; -->
            <textarea rows="15" cols="90" name="payload" id="{{new-random 'payload-field'}}"
                      class="not-empty form-control input-form payload">
                        {{payloads.QueueAccessLLSRQ}}
            </textarea>
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
      <label for="{{new-random 'response-field'}}">Response</label>
      <textarea rows="10" cols="90" name="response" id="{{new-random 'response-field'}}"
                class="not-empty form-control input-form response">
      </textarea>
      </div>
      <div class="form-group">
      <label for="{{new-random 'response-field'}}">Parse Response</label>
      <input type="text" class="xPath" />
      <button class="btnParse">Do Parse</button>
      </div>
      <div class="form-group">
        <label for="{{new-random 'parse-result-field'}}">Parse Result</label>
        <textarea rows="10" cols="90" name="parseResult" id="{{new-random 'parse-result-field'}}"
                  class="not-empty form-control input-form parse-result">
        </textarea>
      </div>
  
    </div>
  </div>
  