<form>

    <div class="form-group">
        <label for="flowId" class="form-label-sm">flowID</label>
        <input type="text" class="form-control" id="flowId" value="{{flowID}}"/>
    </div>

    <div class="form-group">
        <label for="xtpId">extension point id</label>
        <input type="text" class="form-control" id="xtpId" value="{{extensionPointID}}"/>
    </div>


    <div class="form-group row">
        <label for="dtModel">Data model</label>
        <textarea class="form-control" id="dtModel">{{asJson}}</textarea>
    </div>
</form>
